<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite_one" parallel="tests" verbose="2">
	<test preserve-order="false" name="Own Project for PEEX">
		<classes>
			<class name="own.proj.LoginTest"></class>
			<class name="own.proj.ProductsPageTest"></class>
			<class name="own.proj.CartTest"></class>
		</classes>
	</test>
</suite>